<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="jmxServletEditor.contentType.id"
         name="MonitorConfigDocument Content type"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"            
            file-extensions="xml"
            id="JmxServletEditor.content-type1"
            name="name"
            priority="normal">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
            <parameter name="element"
                    value="monitorConfig">
         </parameter>
        </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="jmxservleteditor.editors.ConfigEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xml"
            icon="icons/hammer.png"
            id="jmxservleteditor.editors.XMLEditor"
            name="JMX Servlet - Editor">
         <contentTypeBinding
               contentTypeId="JmxServletEditor.content-type1">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         id="jmxservletEditor.builder.id"
         name="mybuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="false"
            supportsConfigurations="false">
         <run
               class="jmxservleteditor.builder.JmxServletBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="jmxremote.natureid"
         name="JmxServlet nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="jmxservleteditor.nature.JmxServletNature">
         </run>
      </runtime>
      <builder
            id="jmxservletEditor.builder.id">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="JmxServletEditor.category1"
            class="jmxservleteditor.wizard.JmxServletProject"
            id="JmxServletEditor.wizard1"
            name="Jmx Servlet Project Wizard"
            project="true">
      </wizard>
      <category
            id="JmxServletEditor.category1"
            name="JmxServlet">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/chart_line.png"
            id="JmxServletEditor.projectnatureimage.id"
            natureId="jmxremote.natureid">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category=""
            class="jmxservleteditor.preferences.JmxServletpreference"
            id="JmxServletEditor.page1"
            name="JmxServlet">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jmxservleteditor.preferences.JmxServletpreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="template.view.id"
         name="My JMX templates"
         point="org.eclipse.ui.views">
      <category
            id="JmxServletEditor.category2"
            name="template"
            parentCategory="RemoteJmxConnection.category1">
      </category>
      <view
            category="RemoteJmxConnection.category1"
            class="jmxservleteditor.template.TemplateView"
            id="JmxServletEditor.view1"
            name="My JMX templates"
            restorable="true">
      </view>
      <view
            class="jmxservleteditor.explorer.JmxServletProjectExplorer"
            id="jmxservleteditor.explorer.JmxServletProjectExplorer.id"
            name="JmxservletExplorerView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="jmxservleteditor.perspective.JmxServletPerspectiveFactory"
            fixed="true"
            id="JmxServletEditor.perspective1"
            name="Jmx Servlet ">
      </perspective>
   </extension>
   <extension
         id="jmxservletexplorer.viewer.id"
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="jmxservleteditor.explorer.JmxServletProjectExplorer.id">
      </viewer>
      <viewerContentBinding
            viewerId="jmxservleteditor.explorer.JmxServletProjectExplorer.id">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="JmxServletEditor.naturefilter.id">
            </contentExtension>
         </includes>
         <excludes>
            <contentExtension
                  isRoot="true"
                  pattern="JmxServletEditor.commonFilter1">
            </contentExtension>
         </excludes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="jmxservleteditor.explorer.JmxServletProjectExplorer.id">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            class="jmxservleteditor.nature.JmxservletNatureFilter"
            id="JmxServletEditor.naturefilter.id"
            name="JmxServletFilter"
            visibleInUI="true">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            id="JmxServletEditor.commonFilter1"
            name="filterNotResources">
         <filterExpression>
            <adapt
                  type="org.eclipse.core.resources.IResource">
               <test
                     property="org.eclipse.core.resources.name"
                     value="&quot;configFile.xml&quot;">
               </test>
            </adapt>
         </filterExpression>
      </commonFilter>
   </extension>


</plugin>
